### Release

For details about the [Release Stage Direction](/direction/release) please check out that handbook page. 

The details of how we'll achieve different elements of this can be found in the individual category pages below:

#### Release Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>

#### Pricing
<%= partial("direction/ops/tiering/release") %>
